<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="myCtrl" lang="uk-UA">
<title>РІС-адмін</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
<script src="/webjars/angularjs/1.7.4/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.4/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.4/i18n/angular-locale_uk.js"></script>
<script src="/f/js/am-ris001.js"></script>
<script src="/f/patients-list.js"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="{{pageVar.colortheme.theme=='night'?'w3-dark-grey':''}}">
	<div class="w3-row {{pageVar.colortheme.theme=='night'?'w3-blue-grey':'w3-light-grey'}}">
		<div class="w3-col w3-container" style="width: 20%">
			<a href="/" class=" w3-btn w3-hover-shadow"> <i
				class="fa fa-home w3-large w3-border" aria-hidden="true"></i>
			</a>
		</div>
		<div class="w3-col  w3-center" style="width: 50%">
			<p>РІС-фільтри вибірки</p>
		</div>
		<div class="w3-col w3-container w3-right-align" style="width: 30%">
			<span ng-include="'/f/login-link.html'"> </span>
		</div>
	</div>
	<div class="w3-container">
		<a href="#" ng-click="db_validation.removeDupletRows()" class="w3-btn" ng-if="db_validation.duplet_rows_count>0">
			{{db_validation.duplet_rows_count}} - дуплет для видаленя</a>
	</div>
	<div class="w3-container w3-tiny">
		сьогодні: {{date.today | date : 'shortDate'}} <span class=" w3-orange">
			--- Analytics page on development</span>
	</div>
	<div class="w3-container">
		<div class="w3-row">
			<div class="w3-col w3-container" style="width: 80%">
				<div>
					<button class="w3-border" ng-click="filter.filterOnPaymentClean()">Скасувати</button>
					{{gui.filterOnPayment}} <input class="w3-border" type="number"
						data-ng-model="filter.minPayment" placeholder="min"> <input
						class="w3-border" type="number" data-ng-model="filter.maxPayment"
						placeholder="max">
				</div>
				<div>
					<button class="w3-border"
						data-ng-click="filter.filterOnPrivilegeClean()">Скасувати</button>
					{{gui.filterOnPrivilege}} <select class="w3-border"
						ng-model="filter.payment_privilege">
						<option
							data-ng-repeat="x in pageVar.site_config.payment_privileges"
							value="{{x.name}}">{{x.name}}</option>
					</select>
				</div>
				<div>
					<button class="w3-border"
						data-ng-click="filter.filterOnPayTypeClean()">Скасувати</button>
					{{gui.filterOnPayType}} <select class="w3-border"
						ng-model="filter.payment_type">
						<option data-ng-repeat="x in pageVar.site_config.payment_type"
							value="{{x.name}}">{{x.name}}</option>
					</select> <span data-ng-if="filter.payment_type"> <span class="am-b">∑</span>
						{{filter.payment_type_sum()}}
					</span>
				</div>
				<div>
					<button class="w3-border" ng-click="filter.filterOnDateClean()">Скасувати</button>
					{{gui.filterOnDate}} з<input class="w3-border" type="text"
						data-ng-blur="filter.blurDate('fromDate')"
						data-ng-change="filter.checkDate('fromDate')"
						data-ng-model="filter.fromDate" placeholder="дд-мм-рр"> до<input
						data-ng-blur="filter.blurDate('toDate')"
						data-ng-change="filter.checkDate('toDate')" class="w3-border"
						type="text" data-ng-model="filter.toDate" placeholder="дд-мм-рр">
				</div>
				<button class="w3-border" ng-click="filter.filterOnPayment()">OK</button>
			</div>
			<div class="w3-col w3-container" style="width: 20%">
				<button class="w3-border" data-ng-click="filter.filterToExcellCsv()">
					<i class="fa fa-file-excel-o" aria-hidden="true"></i> excel CSV
				</button>
			</div>
		</div>
		<div ng-include="'/f/patient-list-table.html'"></div>
	</div>
</body>
</html>
