<div class="w3-container" data-ng-if="principal.name">
	<div class="w3-row">
		<div class="w3-col w3-container" style="width: 80%">
			Виборка
			<div>
				<button class="w3-border" ng-click="filter.filterOnDateClean()">Скасувати</button>
				{{gui.filterOnDate}} з <input class="w3-border" type="text"
					data-ng-blur="filter.blurDate('fromDate')"
					data-ng-change="filter.checkDate('fromDate')"
					data-ng-model="filter.fromDate" placeholder="дд-мм-рр"> до
				<input data-ng-blur="filter.blurDate('toDate')"
					data-ng-change="filter.checkDate('toDate')" class="w3-border"
					type="text" data-ng-model="filter.toDate" placeholder="дд-мм-рр">
				<button class="w3-border" ng-click="filter.filterOnPayment()">OK</button>
			</div>
			<div>
				<button class="w3-border"
					data-ng-click="filter.filterOnPayTypeClean()">Скасувати</button>
				{{gui.filterOnPayType}} <select class="w3-border"
					ng-model="filter.payment_type">
					<option data-ng-repeat="x in pageVar.site_config.payment_type"
						value="{{x.name}}">{{x.name}}</option>
				</select> <span data-ng-if="true||filter.payment_type"> <span
					class="am-b">∑</span> {{filter.payment_type_sum()}}
				</span>
			</div>
			<div>
				<button class="w3-border" ng-click="filter.filterOnPaymentClean()">Скасувати</button>
				{{gui.filterOnPayment}} <input class="w3-border" type="number"
					data-ng-model="filter.minPayment" placeholder="min"> <input
					class="w3-border" type="number" data-ng-model="filter.maxPayment"
					placeholder="max">
			</div>
			<div>
				<button class="w3-border"
					data-ng-click="filter.filterOnApparatClean()">Скасувати</button>
				{{gui.filterOnApparat}} <select class="w3-border"
					ng-model="filter.apparat_type">
					<option data-ng-repeat="x in ['500','КТ','МРТ']" value="{{x}}">{{x}}</option>
				</select>
			</div>
			<div>
				<button class="w3-border"
					data-ng-click="filter.filterOnPrivilegeClean()">Скасувати</button>
				{{gui.filterOnPrivilege}} <select class="w3-border"
					ng-model="filter.payment_privilege">
					<option
						data-ng-repeat="x in pageVar.site_config.payment_privileges"
						value="{{x.name}}">{{x.name}}</option>
				</select>
			</div>
			<div>
				Групіровка по: <a href="#"
					data-ng-click="filter.filterGroup('col_237')"
					data-ng-class="{'w3-green':filter.group=='col_237'}"> П.І.Б. </a> |
				<a href="#" data-ng-click="filter.filterGroup('col_238')"
					data-ng-class="{'w3-green':filter.group=='col_238'}"> аппарату
				</a> | <a href="#" data-ng-click="filter.filterGroup('col_239')"
					data-ng-class="{'w3-green':filter.group=='col_239'}">
					дослідження </a> | <a href="#"
					data-ng-click="filter.filterGroup('col_241')"
					data-ng-class="{'w3-green':filter.group=='col_241'}"> лікарям </a>
				| <a href="#" data-ng-click="filter.filterGroup('col_242')"
					data-ng-class="{'w3-green':filter.group=='col_242'}"> ЗОЗ
					направленя </a>
			</div>
			<div>
				<button class="w3-border" ng-click="filter.filterOnPayment()">OK</button>
				Всього: {{patientList.pl.list.length}}
			</div>
		</div>
		<div class="w3-col w3-container" style="width: 20%">
			<button class="w3-border" data-ng-click="filter.filterToExcellCsv()">
				<i class="fa fa-file-excel-o" aria-hidden="true"></i> excel CSV
			</button>
		</div>
	</div>

<div data-ng-if="filter.group">
	<div  data-ng-repeat="oo in [patientList.pl]"
		data-ng-include="'/f/patient-list-group.html'"></div>
</div>
	<div data-ng-if="!filter.group"
		data-ng-include="'/f/patient-list-table.html'"></div>
</div>