<!DOCTYPE html>
<html  ng-app="myApp" ng-controller="myCtrl">
<title>РІС список пацієнтів</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<script src="/webjars/angularjs/1.7.4/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.4/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.4/i18n/angular-locale_uk.js"></script>
<script src="/f/js/am-ris001.js"></script>
<script src="/f/patients-list.js"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<div class="w3-row w3-light-grey">
		<div class="w3-col w3-container" style="width: 10%">
			<a href="/" class=" w3-btn w3-hover-shadow"> <i
				class="fa fa-home w3-large w3-border" aria-hidden="true"></i>
			</a>
		</div>
		<div class="w3-col  w3-center" style="width: 80%">
			<p>РІС список пацієнтів</p>
		</div>
		<div class="w3-col w3-container w3-right-align" style="width: 10%">
			<a href="/" class=" w3-btn w3-hover-shadow"> <i
				class="fa fa-sign-out w3-large " aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="w3-container">list: {{firstName}} {{lastName}}</div>
	<div class="w3-container">
		<table ng-repeat="o in [patientList]" align="center">
			<caption>
				<div class="w3-row w3-section">
					<div class="w3-col" style="width: 50px">
						<span ng-repeat="random3 in [random3]" ng-switch="random3">
							<i ng-switch-when="0" class="w3-xxlarge fa fa-filter"
							aria-hidden="true"></i> <i ng-switch-when="1"
							class="w3-xxlarge fa fa-search" aria-hidden="true"></i> <i
							ng-switch-when="2" class="w3-xxlarge fa fa-pencil"></i>
						</span>
					</div>
					<div class="w3-rest">
						<input class="w3-input w3-border" name="message" type="text"
							ng-model="patientList.seek" placeholder="Пошук">
					</div>
				</div>
			</caption>
			<tr class="w3-tiny w3-gray">
				<th ng-repeat="(ck,cv) in o.col_keys" title="{{ck}}" ng-switch="cv">
					{{cv}}</th>
			</tr>
			<tr ng-repeat="tr in o.pl.list">
				<td ng-repeat="(ck,cv) in o.col_keys" 
				ng-init="v=tr[ck]"
				ng-switch="ck">
					<div ng-switch-when="col_236"
						title="{{tr[ck] | date : 'longDate'}}">{{tr[ck] | date
						: 'shortDate' }} {{tr[ck] | date : 'hh:mm'}}</div>
					<div ng-switch-default
						ng-bind-html="highlight(v, patientList.seek)"></div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>