<!DOCTYPE html>
<html  ng-app="myApp" ng-controller="myCtrl">
<title>РІС список пацієнтів</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<script src="/webjars/angularjs/1.7.4/angular.min.js"></script>
<script src="/f/js/am-ris001.js"></script>
<script src="/f/patients-list.js"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<div class="w3-row w3-light-grey">
		<div class="w3-col w3-container" style="width: 10%">
			<a href="/" class=" w3-btn w3-hover-shadow"> <i
				class="fa fa-home w3-large w3-border" aria-hidden="true"></i>
			</a>
		</div>
		<div class="w3-col  w3-center" style="width: 80%">
			<p>РІС список пацієнтів</p>
		</div>
		<div class="w3-col w3-container w3-right-align" style="width: 10%">
			<a href="/" class=" w3-btn w3-hover-shadow"> <i
				class="fa fa-sign-out w3-large " aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="w3-container">list: {{firstName}} {{lastName}}</div>
	<div class="w3-container">
		<table ng-repeat="o in [patientList]" align="center">
		<caption>
		пошук
		</caption>
			<tr class="w3-tiny w3-gray">
				<th ng-repeat="(ck,cv) in o.col_keys" title="{{ck}}" ng-switch="cv">
					{{cv}}</th>
			</tr>
			<tr ng-repeat="p in o.pl.list">
			<td
			ng-repeat="(ck,cv) in o.col_keys"
			>{{p[ck]}}</td>
			</tr>
		</table>
	</div>
</body>
</html>