<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="myCtrl" lang="uk-UA">
<title>РІС-адмін</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.5/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.5/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.5/i18n/angular-locale_uk.js"></script>
<script src="/f/js/am-ris001.js"></script>
<script src="/f/am-ris001-config001.js"></script>
<script src="/f/am-ris001-filter001.js"></script>
<script src="/f/patients-list-report.js"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="{{pageVar.colortheme.theme=='night'?'w3-dark-grey':''}}">
	<div
		class="w3-row {{pageVar.colortheme.theme=='night'?'w3-blue-grey':'w3-light-grey'}}">
		<div class="w3-col w3-container" style="width: 20%">
			<a href="/" class=" w3-btn w3-hover-shadow"> <i
				class="fa fa-home w3-large w3-border" aria-hidden="true"></i>
			</a>
		</div>
		<div class="w3-col  w3-center" style="width: 50%">
			<p>РІС-звіти</p>
		</div>
		<div class="w3-col w3-container w3-right-align" style="width: 30%">
			<span ng-include="'/f/login-link.html'"> </span>
		</div>
	</div>
	<div class="w3-center w3-tiny w3-container">
		<a class="w3-btn w3-padding-small"
			href="?addDay={{date.addDayUrl(-1)}}"><</a> {{date.seekDay | date :
		'mediumDate'}} <a href="?addDay={{date.addDayUrl(1)}}"
			class="w3-btn w3-padding-small">></a> <a href="?"
			class="w3-btn w3-padding-small"> сьогодні: {{date.today | date :
			'shortDate'}} </a>
		<div class="w3-left">
	<a class="w3-btn" href="/f/reports.html">дений звіт</a>
	<a class="w3-btn" href="/f/report-of-period.html"> місячний звіт </a>
		</div>
		<div class="w3-right">
			<button class="w3-border w3-small"
				data-ng-click="filter.filterToExcellCsv()">
				<i class="fa fa-file-excel-o" aria-hidden="true"></i> excel
			</button>
			<a href="/f/analytics.html{{date.parameterAddDay()}}" class="w3-btn">Аналітика
			</a>
		</div>
	</div>

	
	<div data-ng-repeat="oo in [tableData]"
		data-ng-include="'/f/patient-list-group.html'"></div>
</body>
</html>
